streamlit
pandas
plost
plotly
plotly.express
pyodbc
streamlit_authenticator
streamlit-option-menu
geopy
wordcloud
nltk
matplotlib
streamlit-lottie
requests
openpyxl
oauth2client
google.cloud
gspread
python-dotenv